:root {
    --main-bg-color: rgba(44,98,126,0.8);
    --hover-bg-color: rgba(44,98,126,1);
    --text-color: white;
    --button-bg-color: rgba(0, 0, 0, 0.8);
    --neon-blue: rgba(0, 255, 255, 0.75);
    --border-radius: 10px;
    --transition-time: 0.3s;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --image-hover-scale: 1.05;
}

body {
    margin: 0;
    background: radial-gradient(circle, rgba(44,98,126,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 86%);
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-size: 1.5rem;
}

.layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "sidebar"
        "body";
    gap: 8px;
    height: 100%;
    width: 100%;
}

.sidebar {
    grid-area: sidebar;
    background: var(--button-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow-y: auto;
    border-radius: var(--border-radius);
}

.body {
    grid-area: body;
    padding: 20px;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.1);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px var(--shadow-color);
}

h1 {
    text-align: center;
    text-shadow: 0 0 10px var(--neon-blue);
}

input[type="text"], button {
    /* width: 100%; */
    padding: 10px;
    margin: 5px 0;
    font-size: 1rem;
    border-radius: var(--border-radius);
    border: none;
    transition: border-color var(--transition-time), background-color var(--transition-time), box-shadow var(--transition-time);
}

button {
    background-color: var(--button-bg-color);
    color: var(--text-color);
    cursor: pointer;
    box-shadow: 0 4px 8px var(--shadow-color);
}

button:hover {
    background-color: var(--hover-bg-color);
    box-shadow: 0 0 10px var(--neon-blue);
}

input[type="text"] {
    background-color: transparent;
    border: 2px solid var(--text-color);
    color: var(--text-color);
}

input[type="text"]:focus {
    outline: none;
    border-color: var(--neon-blue);
}

.section-container {
    padding: 20px;
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow: hidden;
    width: 100%;
}

.popular-movies, .movie-item, .movie-item2, .movie, .tv-show {
    flex: 1 1 1rem;
    margin: 5px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: var(--border-radius);
    text-align: center;
    box-shadow: 0 2px 4px var(--shadow-color);
    transition: transform var(--transition-time), box-shadow var(--transition-time);
    display: flex;
    flex-direction: column;
    min-height: 280px;
    font-size: .95rem;
    font-weight: bold;
}

.movie-item img, .movie-item2 img, .movie img, .tv-show img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
}

.movie-item h3, .movie-item2 h3, .movie h3, .tv-show h3, 
.movie-item p, .movie p, .tv-show p {
    font-size: 0.75rem;
    margin: 2px 0;
}

.movie-item h2, .movie-item2 h2, .movie h2, .tv-show h2, 
.movie-item p, .movie p, .tv-show p {
    font-size: 0.95rem;
    margin: 2px 0;
}

.movie-item:hover, .movie-item2:hover, .movie:hover, .tv-show:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px var(--shadow-color);
}

img:hover {
    transform: scale(var(--image-hover-scale));
    box-shadow: 0 8px 16px var(--shadow-color);
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-color) 0px 4px 8px;
}

.details-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.details-container img {
    max-width: 100%;
    margin-right: 20px;
    border-radius: var(--border-radius);
}

.info {
    flex: 2 1 300px;
}

.info p, .info a {
    margin-bottom: 10px;
}

.info a {
    padding: 10px 20px;
    background-color: var(--button-bg-color);
    border-radius: var(--border-radius);
    color: var(--text-color);
    text-decoration: none;
    display: inline-block;
}

.info a:hover {
    background-color: var(--hover-bg-color);
    box-shadow: 0 0 10px var(--neon-blue);
}

/* Media Queries para Responsividad */
@media (max-width: 600px) {
    .layout {
        grid-template-columns: 1fr;  /* Makes sidebar full width */
        grid-template-areas:
            "sidebar"
            "body";
    }

    .sidebar {
        padding: 10px;  /* Smaller padding */
    }

    .body {
        padding: 10px;  /* Smaller padding */
    }

    input[type="text"], button {
        font-size: 0.875rem;  /* Smaller font size */
    }

    p {
        font-size: 1rem;  /* Smaller paragraph font size */
    }

    .movie-item, .movie-item2, .movie, .tv-show {
        min-height: 200px;  /* Smaller height for items */
        font-size: 0.8rem;  /* Smaller font size for item texts */
    }
}

@media (min-width: 601px) and (max-width: 1023px) {
    .layout {
        grid-template-columns: 200px 1fr;  /* Adjusted for tablet sizes */
        grid-template-areas:
            "sidebar body";
    }

    .sidebar {
        padding: 20px;  /* Moderate padding */
    }

    .body {
        padding: 20px;  /* Moderate padding */
    }

    input[type="text"], button {
        font-size: 1rem;  /* Regular font size */
    }

    p {
        font-size: 1.25rem;  /* Increased paragraph font size */
    }

    .movie-item, .movie-item2, .movie, .tv-show {
        min-height: 250px;  /* Increased height for items */
        font-size: 0.9rem;  /* Increased font size for item texts */
    }
}

@media (min-width: 1024px) {
    .layout {
        grid-template-columns: 300px 1fr;  /* Wider sidebar for larger screens */
        grid-template-areas:
            "sidebar body";
    }

    .sidebar {
        padding: 40px;  /* Larger padding */
    }

    .body {
        padding: 40px;  /* Larger padding */
    }

    input[type="text"], button {
        font-size: 1.375rem;  /* Larger font size */
    }

    p {
        font-size: 1.75rem;  /* Larger paragraph font size */
    }

    .movie-item, .movie-item2, .movie, .tv-show {
        min-height: 300px;  /* Larger height for items */
        font-size: 1rem;  /* Larger font size for item texts */
    }
}

.carousel-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: none; /* Oculta la barra de desplazamiento en Firefox */
}

.carousel-container::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento en Chrome, Safari y Opera */
}

.movie-item {
    flex: 0 0 auto; /* Evita que los elementos se estiren */
    margin: 5px;
    width: 200px; /* Ancho fijo para cada película */
}

.carousel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.carousel .movie-item {
    flex: 0 0 .5rem;
    margin: .5rem;
    width: 10rem;  /* Ancho fijo para cada ítem, puedes ajustarlo según tus necesidades */
}

/* Estilizar la barra de desplazamiento globalmente */
/* Esto afectará a todos los elementos scrollables en tu página */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--neon-blue) var(--button-bg-color);
}

/* Para navegadores basados en WebKit (Chrome, Safari, etc.) */
*::-webkit-scrollbar {
    width: 8px;  /* Grosor del scrollbar */
    height: 8px; /* Altura del scrollbar para scroll horizontal */
}

*::-webkit-scrollbar-track {
    background: var(--button-bg-color); /* Color de fondo de la pista del scrollbar */
}

*::-webkit-scrollbar-thumb {
    background-color: var(--neon-blue); /* Color del thumb (parte móvil) del scrollbar */
    border-radius: 4px; /* Bordes redondeados para el thumb */
    border: 2px solid var(--button-bg-color); /* Borde alrededor del thumb */
}

/* Estilos específicos para el carrusel */
.carousel::-webkit-scrollbar {
    height: 12px; /* Altura más grande para hacerlo más visible en el carrusel */
}

.carousel::-webkit-scrollbar-thumb {
    background-color: var(--hover-bg-color); /* Un color diferente para destacar */
}
