:root {
    --main-bg-color: rgba(44,98,126,0.8);
    --hover-bg-color: rgba(44,98,126,1);
    --text-color: white;
    --button-bg-color: rgba(0, 0, 0, 0.8);
    --neon-blue: rgba(0, 255, 255, 0.75);
    --border-radius: 10px;
    --transition-time: 0.3s;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --image-hover-scale: 1.05;
}

body {
    margin: 0;
    background: radial-gradient(circle, rgba(44,98,126,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 86%);
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

p{
    font-size: 50px;
}
.layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: "sidebar body";
    gap: 8px;
    height: 100%;
    width: 100%;
}

.sidebar {
    grid-area: sidebar;
    background: var(--button-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow-y: auto;
    border-radius: var(--border-radius);
}

.body {
    grid-area: body;
    padding: 20px;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.1);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px var(--shadow-color);
}

h1 {
    text-align: center;
    text-shadow: 0 0 10px var(--neon-blue);
}

#search-container, .body {
    width: 100%;
}

input[type="text"], button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
    border-radius: var(--border-radius);
    border: none;
    transition: border-color var(--transition-time), background-color var(--transition-time), box-shadow var(--transition-time);
}

button {
    background-color: var(--button-bg-color);
    color: var(--text-color);
    cursor: pointer;
    box-shadow: 0 4px 8px var(--shadow-color);
}

button:hover {
    background-color: var(--hover-bg-color);
    box-shadow: 0 0 10px var(--neon-blue);
}

input[type="text"] {
    background-color: transparent;
    border: 2px solid var(--text-color);
    color: var(--text-color);
}

input[type="text"]:focus {
    outline: none;
    border-color: var(--neon-blue);
}

.section-container {
    padding: 20px;
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row; /* Ajustado para mantener el flujo horizontal */
    flex-wrap: wrap; /* Asegura que los elementos se envuelvan dentro del contenedor */
    align-items: flex-start; /* Alinea los elementos al principio del contenedor */
    overflow: hidden; /* Previene el desbordamiento fuera del contenedor */
    width: 100%; /* Asegura que el contenedor use todo el ancho disponible */
}

.movie-item, .movie-item2, .movie, .tv-show {
    flex: 1 1 90px; /* Flexibilidad en la base del tamaño deseado */
    margin: 5px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: var(--border-radius);
    text-align: center;
    box-shadow: 0 2px 4px var(--shadow-color);
    transition: transform var(--transition-time), box-shadow var(--transition-time);
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    min-height: 280px; /* Ajusta este valor según el tamaño deseado */
    font-size: .95rem;
    font-weight: bold;
    
}

.movie-item img, .movie-item2 img, .movie img, .tv-show img {
    width: 100%; /* Ajusta la imagen al contenedor */
    height: auto;
    border-radius: var(--border-radius);
}

.movie-item h3, .movie-item2 h3, .movie h3, .tv-show h3, 
.movie-item p, .movie p, .tv-show p {
    font-size: 0.75rem;
    margin: 2px 0;
}

.movie-item h2, .movie-item2 h2, .movie h2, .tv-show h2, 
.movie-item p, .movie p, .tv-show p {
    font-size: 0.95rem;
    margin: 2px 0;
}

.movie-item:hover, .movie-item2:hover, .movie:hover, .tv-show:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px var(--shadow-color);
}

img:hover {
    transform: scale(var(--image-hover-scale));
    box-shadow: 0 8px 16px var(--shadow_color);
}