:root {
    --main-bg-color: rgba(44,98,126,0.8);
    --hover-bg-color: rgba(44,98,126,1);
    --text-color: white;
    --button-bg-color: rgba(0, 0, 0, 0.8);
    --neon-blue: rgba(0, 255, 255, 0.75);
    --border-radius: 10px;
    --transition-time: 0.3s;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --image-hover-scale: 1.05;
}

body {
    margin: 0;
    background: radial-gradient(circle, rgba(44,98,126,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 86%);
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: "sidebar body";
    gap: 8px;
    height: 100%;
    width: 100%;
}

.sidebar {
    grid-area: sidebar;
    background: var(--button-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow-y: auto;
    border-radius: var(--border-radius);
}

.body {
    grid-area: body;
    padding: 20px;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.1);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px var(--shadow-color);
}

h1 {
    text-align: center;
    text-shadow: 0 0 10px var(--neon-blue);
}

#search-container, .body {
    width: 100%;
}

input[type="text"], button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
    border-radius: var(--border-radius);
    border: none;
    transition: border-color var(--transition-time), background-color var(--transition-time), box-shadow var(--transition-time);
}

button {
    background-color: var(--button-bg-color);
    color: var(--text-color);
    cursor: pointer;
    box-shadow: 0 4px 8px var(--shadow-color);
}

button:hover {
    background-color: var(--hover-bg-color);
    box-shadow: 0 0 10px var(--neon-blue);
}

input[type="text"] {
    background-color: transparent;
    border: 2px solid var(--text-color);
    color: var(--text-color);
}

input[type="text"]:focus {
    outline: none;
    border-color: var(--neon-blue);
}

#results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

div.movie, div.tv-show {
    background: rgba(255, 255, 255, 0.1);
    border-radius: var(--border-radius);
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px var(--shadow-color);
    transition: transform var(--transition-time), box-shadow var(--transition-time);
}

div.movie:hover, div.tv-show:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px var(--shadow-color);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px var(--shadow-color);
    transition: transform var(--transition-time), box-shadow var(--transition-time);
}

img:hover {
    transform: scale(var(--image-hover-scale));
    box-shadow: 0 8px 16px var(--shadow-color);
}
